body {
  background-color: #eaeaea !important;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 87);
}
.container_table {
  width: 100%;
  overflow: auto; /* or auto */
}
.container_table table {
  width: 100%;
}
.api_popup {
  
  width: 600px;
}
table {
  border-spacing: 0px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

tbody > tr:nth-child(2n) {
  background: lightblue;
}
table, td, th {
  
  margin: 0;
  padding: 0;
}
